{% extends "base.html" %}
{% block content %}
<h2>{{ 'Modifica Nota' if note else 'Nuova Nota' }}</h2>
<form method="POST">
    <div class="mb-3">
        <label>Titolo</label>
        <input type="text" name="title" class="form-control" value="{{ note.title if note else '' }}" required>
    </div>
    
    {% if not note %}
    <div class="mb-3 p-3 border rounded bg-body-tertiary">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="is_protected" id="protCheck">
            <label class="form-check-label" for="protCheck">Proteggi con Password</label>
        </div>
        <input type="password" name="protection_password" class="form-control mt-2" placeholder="Password della nota">
    </div>
    {% else %}
        {% if unlocked_password %}
        <input type="hidden" name="password_verification" value="{{ unlocked_password }}">
        {% endif %}
    {% endif %}

    <div class="mb-3">
        <label>Contenuto</label>
        <textarea name="content" class="form-control" rows="10" required>{{ note.content if note else '' }}</textarea>
    </div>
    <button type="submit" class="btn btn-success">Salva Nota</button>
    <a href="/" class="btn btn-secondary">Annulla</a>
</form>
{% endblock %}
